@charset "UTF-8";
/*demais midias*/



/*\Typical device breakpoints
---------------------------------
pequenas telas : ate 600px

celular: de 600px até 768px
tablet: de 768px até 992px
descktop: 992px até 1200px
tv: acima de 1200px



*/

@media print { /*impressao*/
    * {
        font-family: 'Courier New', Courier, monospace;
    }
    body {
        background-image:url(../imagens/back-print.jpg) ;
        
    }
    main {
        border: 2px solid black;
    }
    main::after {
        content: 'essa pagina foi feita atraves do arquimo mq004 exercicios de media query';
        text-decoration: overline;
    }
    main h1 {
        text-shadow: none ;
        color: black;
    }
    img#phone {display: none;}
    img#tablet {display: none;}
    img#print{display: block;}
    img#pc {display: none;}
    img#tv {display: none;}
}
@media screen and (min-width: 768px) and (max-width:992px) {
    /*tablet*/  
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }
    img#phone {display: none;}
    img#tablet {display: block;}
    img#print{display: none;}
    img#pc {display: none;}
    img#tv {display: none;}

}
@media screen and (min-width: 992px) and (max-width:1200px) {
    /*desktop*/
    body {
        background-image: url(../imagens/back-pc.jpg);
    }
    img#phone {display: none;}
    img#tablet {display: none;}
    img#print{display: none;}
    img#pc {display: block;}
    img#tv {display: none;}
    }

@media screen and (min-width:1200px) {  /*grandes telas*/
    body {
        background-image: url(../imagens/back-tv.jpg);
    }
    main {
        width: 700px;
    }
    img#phone {display: none;}
    img#tablet {display: none;}
    img#print{display: none;}
    img#pc {display: none;}
    img#tv {display: block;}
    }
